*.zip
temp/build/generated-sources/
*.war
temp/build/web/WEB-INF/classes/.netbeans_automatic_build
temp/build/web/WEB-INF/classes/.netbeans_update_resources
temp/build/web/WEB-INF/classes/converters/CharacterConverter.class
temp/build/web/WEB-INF/classes/converters/CountryConverter.class
temp/build/web/WEB-INF/classes/converters/DirectorConverter.class
temp/build/web/WEB-INF/classes/converters/GenreConverter.class
temp/build/web/WEB-INF/classes/converters/NominationConverter.class
temp/build/web/WEB-INF/classes/entities/Actor.class
temp/build/web/WEB-INF/classes/entities/Actor.rapt
temp/build/web/WEB-INF/classes/entities/Actor_.class
temp/build/web/WEB-INF/classes/entities/Award.class
temp/build/web/WEB-INF/classes/entities/Award.rapt
temp/build/web/WEB-INF/classes/entities/Award_.class
temp/build/web/WEB-INF/classes/entities/Character.class
temp/build/web/WEB-INF/classes/entities/Character.rapt
temp/build/web/WEB-INF/classes/entities/CharacterItemPK.class
temp/build/web/WEB-INF/classes/entities/CharacterItemPK.rapt
temp/build/web/WEB-INF/classes/entities/CharacterItemPK_.class
temp/build/web/WEB-INF/classes/entities/Character_.class
temp/build/web/WEB-INF/classes/entities/Country.class
temp/build/web/WEB-INF/classes/entities/Country.rapt
temp/build/web/WEB-INF/classes/entities/Country_.class
temp/build/web/WEB-INF/classes/entities/Director.class
temp/build/web/WEB-INF/classes/entities/Director.rapt
temp/build/web/WEB-INF/classes/entities/Director_.class
temp/build/web/WEB-INF/classes/entities/Genre.class
temp/build/web/WEB-INF/classes/entities/Genre.rapt
temp/build/web/WEB-INF/classes/entities/Genre_.class
temp/build/web/WEB-INF/classes/entities/Movie.class
temp/build/web/WEB-INF/classes/entities/Movie.rapt
temp/build/web/WEB-INF/classes/entities/MovieNominationConnector.class
temp/build/web/WEB-INF/classes/entities/MovieNominationConnector.rapt
temp/build/web/WEB-INF/classes/entities/MovieNominationConnector_.class
temp/build/web/WEB-INF/classes/entities/MovieNominationItemPK.class
temp/build/web/WEB-INF/classes/entities/MovieNominationItemPK.rapt
temp/build/web/WEB-INF/classes/entities/MovieNominationItemPK_.class
temp/build/web/WEB-INF/classes/entities/Movie_.class
temp/build/web/WEB-INF/classes/entities/Nomination.class
temp/build/web/WEB-INF/classes/entities/Nomination.rapt
temp/build/web/WEB-INF/classes/entities/Nomination_.class
temp/build/web/WEB-INF/classes/entities/Rate.class
temp/build/web/WEB-INF/classes/entities/Rate.rapt
temp/build/web/WEB-INF/classes/entities/RateItemPK.class
temp/build/web/WEB-INF/classes/entities/RateItemPK.rapt
temp/build/web/WEB-INF/classes/entities/RateItemPK_.class
temp/build/web/WEB-INF/classes/entities/Rate_.class
temp/build/web/WEB-INF/classes/entities/Review.class
temp/build/web/WEB-INF/classes/entities/Review.rapt
temp/build/web/WEB-INF/classes/entities/Review_.class
temp/build/web/WEB-INF/classes/entities/Users.class
temp/build/web/WEB-INF/classes/entities/Users.rapt
temp/build/web/WEB-INF/classes/entities/Users_.class
temp/build/web/WEB-INF/classes/managedBeans/ActorController.class
temp/build/web/WEB-INF/classes/managedBeans/DirectorController.class
temp/build/web/WEB-INF/classes/managedBeans/MovieController.class
temp/build/web/WEB-INF/classes/managedBeans/ReviewController.class
temp/build/web/WEB-INF/classes/managedBeans/SearchController.class
temp/build/web/WEB-INF/classes/managedBeans/SpecialFunctionsController.class
temp/build/web/WEB-INF/classes/managedBeans/UserController.class
temp/build/web/WEB-INF/classes/managedBeans/UserCreateController.class
temp/build/web/WEB-INF/classes/resouces.res
temp/build/web/WEB-INF/classes/session/AbstractFacade.class
temp/build/web/WEB-INF/classes/session/ActorFacade.class
temp/build/web/WEB-INF/classes/session/AwardFacade.class
temp/build/web/WEB-INF/classes/session/CharacterFacade.class
temp/build/web/WEB-INF/classes/session/CountryFacade.class
temp/build/web/WEB-INF/classes/session/DirectorFacade.class
temp/build/web/WEB-INF/classes/session/GenreFacade.class
temp/build/web/WEB-INF/classes/session/MovieFacade.class
temp/build/web/WEB-INF/classes/session/MovieNominationConnectorFacade.class
temp/build/web/WEB-INF/classes/session/NominationFacade.class
temp/build/web/WEB-INF/classes/session/RateFacade.class
temp/build/web/WEB-INF/classes/session/ReviewFacade.class
temp/build/web/WEB-INF/classes/session/SpecialsFunctionsFacade.class
temp/build/web/WEB-INF/classes/session/UsersFacade.class
temp/build/web/WEB-INF/classes/utils/DateFormatter.class
temp/build/web/WEB-INF/classes/utils/MovieCharacterPair.class
new  2.txt
temp/nbproject/private/private.xml
